{#
/**
 * @file pickup_item.html.twig
 * Default theme implementation to present Pickup item data.
 *
 * This template is used when viewing Pickup item pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_pickup_item()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('pickup_item') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
